@import "../../../../styles/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap");

.IntroductionContainer {
  min-height: 24px;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: $font5_main;
  text-align: left;
  margin: 0 32px;
}