@import "./colors.scss";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap");

$BorderXsmall : 5px;
$BorderSmall : 12px;
$BorderMedium : 24px;
$BorderLarge: 32px;
$BorderXLarge : 48px;